// Color Scheme

@player-corner-radius: 8px;
@corner-radius: 3px;

@c-text: #000;
@c-background: #f0f0f0;

@c-progress: #000;

@c-input-border: #aaa;
@c-input-background: #fff;

@c-button-hover: #C0DCF1;
@c-button-press: #3372F1;

@c-search-border: #aaa;
@c-search-header: #ddd;
@c-search-background: #fff;
@c-search-background-alt: #f4f4f4;
@c-search-background-hover: #C0DCF1;
@c-search-background-active: #3372F1;
@c-search-text-hover: #000;
@c-search-text-active: #fff;

@c-slider-border: #fff;
@c-slider-background: #999;
@c-slider-fill: #3372F1;
@c-slider-handle: #3372F1;
@c-slider-handle-border: #fff;