.nodeBG {
	stroke-width: 2px;
}

.nodeControls {
	font: 14px/16px "Helvetica", "Arial", "Helvetica Neue", sans-serif;
	/* 	opacity: 0.0; */
}

.link {
	fill: none;
	stroke: black;
}

text.ellipsis {
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}
