#view-home {
  max-width: 700px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
#view-home h1 {
  font-family: "Times New Roman", serif;
  font-size: 64px;
  letter-spacing: -2px;
  margin: 1em 0;
}
#view-home .search-box {
  margin: 2em auto;
}
#view-home #features {
  text-align: left;
}
#view-home #supported-browsers {
  list-style: none;
  overflow: auto;
  width: 504px;
  padding: 0;
  margin: 2em auto;
}
#view-home #supported-browsers li {
  float: left;
  padding: 0 20px;
  text-align: center;
}
#view-home #supported-browsers img {
  display: block;
  width: 128px;
  height: 128px;
}
@media (max-width: 540px) {
  #view-home .search-box {
    width: 100%;
  }
}
