body {
  font: 16px/20px "Helvetica", "Arial", "Helvetica Neue", sans-serif;
  color: #000000;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
h2 {
  font-weight: 400;
  font-size: 18px;
}
* {
  box-sizing: border-box;
}
a img {
  border: none;
}
table {
  border-spacing: 0;
  border-radius: 3px;
}
ul {
  padding-left: 20px;
}
.search-box {
  width: 480px;
  margin: 0 auto;
  text-align: left;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
}
.search-box input {
  padding: 3px 0 3px 8px;
  font-size: 24px;
  line-height: 30px;
  background: transparent;
  border: none;
}
.search-box input[type=text] {
  width: 100%;
  padding-right: 40px;
}
.search-box input[type=button] {
  margin-left: -40px;
  width: 40px;
  text-indent: -9999px;
  outline: none;
  cursor: pointer;
  background: #ffffff url('../img/search.png') center no-repeat;
  transition: background-color 0.08s;
}
.search-box input[type=button]:hover {
  background-color: #8cbee5;
}
.search-box input[type=button]:active {
  background-color: #3372f1;
}
.loader {
  margin: 1em auto;
  width: 160px;
}
.loader div {
  float: left;
  width: 8px;
  height: 8px;
  margin: 6px;
  border-radius: 4px;
  background-color: #000000;
}
