#view-player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
#view-player #vine {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#view-player .control {
  position: absolute;
  z-index: 1000;
}
#view-player .search-box {
  top: 4px;
  right: 4px;
  width: auto;
}
#view-player .search-box input {
  font-size: 14px;
  line-height: 1;
  width: 110px;
  padding-right: 16px;
  transition: width 0.3s;
}
#view-player .search-box input:active,
#view-player .search-box input:focus {
  width: 170px;
}
#view-player .search-box input[type=button] {
  margin-left: -16px;
  width: 16px;
  background-image: url('../img/search-small.png');
}
#view-player #player-controls {
  left: 50%;
  bottom: 16px;
  width: 502px;
  margin-left: -251px;
  padding: 8px 16px;
  background: rgba(0, 0, 0, 0.85);
  border: 1px solid #000000;
  color: #ffffff;
  border-radius: 8px;
  user-select: text;
}
#view-player #player-controls img {
  width: 48px;
  height: 48px;
  margin: 0 4px 0 8px;
  vertical-align: bottom;
}
#view-player #player-controls img.hasart {
  border: 1px solid #000000;
}
#view-player #player-controls #album-link:hover img.hasart {
  border: 1px solid #3372f1;
}
#view-player #player-controls div.info {
  display: inline-block;
}
#view-player #player-controls .button {
  display: inline-block;
  width: 26px;
  height: 48px;
  vertical-align: bottom;
  background: transparent -11px 0 no-repeat;
  cursor: pointer;
}
#view-player #player-controls .button:hover {
  background-position: -59px 0;
}
#view-player #player-controls .button:active {
  background-position: -107px 0;
}
#view-player #player-controls #btn-favorite {
  background-image: url('../img/heart.svg');
}
#view-player #player-controls #btn-favorite.favorited {
  background-position: -107px 0;
}
#view-player #player-controls #btn-prev {
  background-image: url('../img/prev.svg');
}
#view-player #player-controls #btn-playpause {
  background-image: url('../img/play.svg');
}
#view-player #player-controls #btn-playpause.pause {
  background-image: url('../img/pause.svg');
}
#view-player #player-controls #btn-next {
  background-image: url('../img/next.svg');
}
#view-player #player-controls .ui-slider-handle {
  opacity: 0;
  transition: opacity 0.2s;
}
#view-player #player-controls .ui-state-focus.ui-slider-handle {
  opacity: 1;
}
#view-player #player-controls #player-info {
  height: 24px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#view-player #player-controls #player-info .by {
  color: #aaaaaa;
}
#view-player #player-controls #player-info a {
  color: #ffffff;
  text-decoration: none;
}
#view-player #player-controls #player-info a:hover {
  text-decoration: underline;
}
#view-player #player-controls #player-time {
  height: 23px;
  margin-top: 1px;
  font-size: 11px;
}
#view-player #player-controls #player-time span {
  display: inline-block;
  width: 28px;
}
#view-player #player-controls #player-time #current-time {
  margin-right: 3px;
}
#view-player #player-controls #player-time #total-time {
  margin-left: 3px;
}
#view-player #player-controls #player-time #ctrl-seek {
  width: 186px;
  display: inline-block;
}
#view-player #player-controls #player-time:hover .ui-slider-handle {
  opacity: 1;
}
#view-player #player-controls #ctrl-volume {
  float: right;
  height: 41px;
  margin-top: 4px;
}
#view-player #player-controls #ctrl-volume:hover .ui-slider-handle {
  opacity: 1;
}
#view-player #player-controls #ctrl-volume .ui-slider-range {
  background-color: transparent;
  background-image: linear-gradient(0deg, #3372f1 0, #3372f1 75%, #000000 75%, #000000 100%);
  background-repeat: repeat;
  background-size: 100% 4px;
  background-position: center bottom;
}
#view-player #player-controls #ctrl-volume:before {
  content: ' ';
  display: block;
  width: 48px;
  height: 48px;
  margin-left: -32px;
  background: url('../img/volume.svg');
}
