<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /cs465/
	
	
	
	RewriteRule ^index\.html$ - [L]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /cs465/index.html [L]
</IfModule>

